/*----------- 
 setup styles
------------*/

/* background */

body {
    background-image: url(images/background-tiles.png);
    background-color: black;
    background-repeat: repeat-y;
    background-position: center;
    color: white;
    font-family: "DotGothic16", sans-serif;
}

::selection {
    color: black;
}

.h1 {
    background-color: blueviolet;
}
/* cursor */

* {
    cursor: none;
}

#cursor {
    position: fixed;
    pointer-events: none;
    z-index: 9999;
    width: 100px;
    user-select: none;
    cursor: default;
    image-rendering: pixelated;
}

/* scrollbar */

html {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

/*----------------- 
 user-interface art
------------*/

/* health */

.health-bar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

.health-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-left: 30px;
    position: fixed;
}

.heart {
    width: 100px;
    image-rendering: pixelated;
    user-select: none;
}

/* mana */

.mana-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-right: 30px;
    position: fixed;
    right: 30px;
}

.orb {
    width: 100px;
    image-rendering: pixelated;
    user-select: none;
}

/* avatar */

.avatar {
    width: 300px;
    image-rendering: pixelated;
    user-select: none;
}

.avatar-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    gap: 10px;
    left: 0;
    bottom: 0;
}

.avatar-container h1 {
    padding-left: 60px;
}

/* weapons */

.weapons {
    width: 300px;
    image-rendering: pixelated;
    user-select: none;
}

.weapons-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    gap: 10px;
    right: 0;
    bottom: 0;
}

.weapons-container h1 {
    padding-left: 190px;
}



