/*----------------- 
 setup styles
-----------------*/

/* background */
body {
    background-image: url(images/background-tiles.png);
    background-position: center;
    cursor: url(images/cursor.gif);
}

/* cursor */

* {
    cursor: none;
}

#cursor {
    position: fixed;
    pointer-events: none;
    z-index: 9999;
    width: 100px;
    user-select: none;
}